body {
  background: #F2F2F2;
  margin: 0;
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  background: white;
  padding: 1.3em 1em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.navbar .nav-container {
  width: 100%;
  max-width: 1240px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 3em;
}

.navbar .logo span {
  margin-left: 3px;
  color: #ed2b4f;
}

.search-field {
  width: 300px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  margin-top: 5px;
}

.search-field .search-term {
  width: 100%;
  border: 3px solid #ed2b4f;
  border-right: none;
  padding: 7px 10px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size: large;
}

.search-field .search-button {
  width: 100px;
  height: 40px;
  border: 1px solid #ed2b4f;
  background: #ed2b4f;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.styled-table {
  width: 95%;
  max-width: 1240px;
  border-collapse: collapse;
  margin: 3em auto;
  font-size: 0.9em;
  font-family: sans-serif;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #ed2b4f;
  color: #ffffff;
  text-align: left;
}

.styled-table th, .styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #ed2b4f;
}

.styled-table tbody a {
  text-decoration: none;
  color: black;
}

.styled-table tbody a:hover {
  color: #ed2b4f;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.back-page {
  color: #ed2b4f;
}

.next-page {
  color: #ed2b4f;
}

.pagination-container > span {
  margin: 0 10px;
  width: 23px;
  text-align: center;
  cursor: pointer;
  padding: 2px 0;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination > span {
  margin: 0 8px;
  cursor: pointer;
}

.pagination-counter {
  display: flex;
  justify-content: center;
  margin-left: 20px;
  align-items: center;
}

footer {
  background-color: #ed2b4f;
  height: 50px;
  margin-top: auto;
}

footer > p {
  color: white;
  text-align: center;
}

/* 讓當前的頁碼亮起來 */
.active {
  color: white;
  background-color: #ed2b4f;
  border-radius: 5px;
  width: 30px;
  text-align: center;
}

/* 讓上下頁按鈕消失 */
.disabled {
  display: none;
} 